html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.loading {
  font-size: 1.5rem;
  background-color: rgb(254, 254, 255);
  box-shadow: 0px 0px 20px 5px #1a118f;
  border-radius: 4px;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.ta-right {
  text-align: right;
}
.m-5 {
  margin: 5px;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  padding-right: 30px;
}
a {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: #fff;
  overflow: hidden;
  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    royalblue 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
a:hover {
  background-position: 0 100%;
}

@media only screen and (min-width: 815px) {
  * {
    margin: 0;
  }
  .loading {
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 0px 20px 5px #1a118f;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  background: #2980b9 url(moving.PNG) repeat 0 0;
  -webkit-animation: 220s linear 0s normal none infinite animate;
  -moz-animation: 20s linear 0s normal none infinite animate;
  -ms-animation: 20s linear 0s normal none infinite animate;
  -o-animation: 20s linear 0s normal none infinite animate;
  animation: 20s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-o-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
